IMAP on Android

I'm running hydroxide on my Android phone locally using Go in Termux. I connect to it using the application K-9 mail. SMTP works great and sent messages arrive. However I'm unable to connect to the IMAP server. See attached screenshot (it says unable to connect to server in German):

![photo_2018-10-23_12-08-58](https://user-images.githubusercontent.com/1213925/47353400-78949800-d6bc-11e8-8e60-0acfb8f56493.jpg)

Setting up IMAP with other mail applications doesn't work either, so I don't think this is an issue within K-9.

My IMAP settings:
Server: 127.0.0.1
Security: none
Port: 1143
Username: mail without "@protonmail.com"
Password: password supplied by hydroxide
IMAP-namespace: detect automatically


Hmm, this seems like a go-imap bug

Should I reopen this issue in the go-imap repository?

Any more info on this? I'd love to do this, as the protonmail client crashes every time I open it :(

Hmm. Now that I look at the command again I think this is a K-9 mail issue. According to [the RFC](https://tools.ietf.org/html/rfc3501#section-6.3.8), the `LIST` command takes 2 arguments, not 3.

Seems like K-9 is assuming the server supports [RFC 5258](https://tools.ietf.org/html/rfc5258) without checking it.

The current stable version of K-9 Mail (5.600) only issues an extended LIST command (with SPECIAL-USE selection option) when the server announces the SPECIAL-USE capability. 
See https://github.com/k9mail/k-9/blob/a903bd6f81e929bdd486b12e24afe851d06b7dcf/k9mail-library/src/main/java/com/fsck/k9/mail/store/imap/ImapStore.java#L225-L230

It looks like RFC 6154 doesn't explicitly state that servers need to announce the LIST-EXTENDED capability. But my reading is that the SPECIAL-USE capability implies the extended LIST command is supported.

From [RFC 6154, section 2](https://tools.ietf.org/html/rfc6154#section-2):
```
   An IMAP server that supports this extension MAY include any or all of
   the following attributes in responses to the non-extended IMAP LIST
   command.  The new attributes are included along with existing
   attributes, such as "\Marked" and "\Noselect".  A given mailbox may
   have none, one, or more than one of these attributes.  In some cases,
   a special use is advice to a client about what to put in that
   mailbox.  In other cases, it's advice to a client about what to
   expect to find there.  There is no capability string related to the
   support of special-use attributes on the non-extended LIST command.

   For the extended list command [RFC5258], this extension adds a new
   capability string, a new selection option, and a new return option,
   all called "SPECIAL-USE".  Supporting implementations MUST include
   the "SPECIAL-USE" capability string in response to an IMAP CAPABILITY
   command.  If the client specifies the "SPECIAL-USE" selection option,
   the LIST command MUST return only those mailboxes that have a
   special-use attribute set.  If the client specifies the "SPECIAL-USE"
   return option, the LIST command MUST return the new special-use
   attributes on those mailboxes that have them set.  The "SPECIAL-USE"
   return option is implied by the "SPECIAL-USE" selection option.  The
   extended LIST command MAY return SPECIAL-USE attributes even if the
   client does not specify the return option.
```

Reported https://www.rfc-editor.org/errata/eid5581

Received some comments from Barry Leiba:

>I believe that Section 2 makes it clear that it works both ways: the
first paragraph says how special-use behave with non-extended LIST,
and the second paragraph says what it does with extended LIST.

>Ah, wait, I see. The example in Section 5.2 says that it's an example of use of extended LIST, but the server doesn't advertise extended LIST... that's the problem. Yes, that's an error in Section 5.2, and this report should be marked "Verified".

>(Sorry for the noise: one further comment.) When it's marked "Verified", a comment should be added that it *is* OK to support special-use without extended list, as specified in the first paragraph of Section 2, but that the example in 5.2 says it's an example of use with extended list, so the example is wrong.

This confirms my understanding of the RFC. @cketti, this seems like a K-9 bug.

This doesn't really clear things up for me.

The first paragraph of section 2 ends with: "There is no capability string related to the support of special-use attributes on the non-extended LIST command". So you can support special-use attributes with the regular LIST command ("it is OK to support special-use without extended list"). 
But (according to my reading, and the information above doesn't change that) as soon as you announce the SPECIAL-USE capability you're in second paragraph territory and have to support LIST-EXTENDED. So the "bug" in the second example is the CAPABILITY list is missing LIST-EXTENDED. In my opinion it's still a bug to announce the SPECIAL-USE capability without supporting LIST-EXTENDED.

We'll change our code to check for both capabilities, though.

>a comment should be added that it is OK to support special-use without extended list

This is very clear to me. This is a quote from the RFC guys.

>So the "bug" in the second example is the CAPABILITY list is missing LIST-EXTENDED.

Yes, this is what I reported.

>In my opinion it's still a bug to announce the SPECIAL-USE capability without supporting LIST-EXTENDED.

No, see what the RFC guys said.

>But (according to my reading, and the information above doesn't change that) as soon as you announce the SPECIAL-USE capability you're in second paragraph territory and have to support LIST-EXTENDED. 

I don't follow you on this one. I don't see any MUST clause about this. If you believe the RFC is unclear, please open an errata.

The number of inputs that could influence whether or not the SPECIAL-USE capability should be used is small. Let's go through all combinations.

My reading:

| LIST with special-use attributes | LIST-EXTENDED support | LIST-EXTENDED with SPECIAL-USE | Announce SPECIAL-USE capability |
| --- | --- | --- | --- |
| no | no | no | NO |
| no | yes | no | NO |
| yes | yes | yes | YES |
| no | yes | yes | YES |
| any | no | yes | - |
| yes | yes | no | NO |
| yes | no | no | NO |

This means the capability implies "extended LIST supports SPECIAL-USE selection/return options". Which is in line with section 2.
Regular LIST command: "There is no capability string related to the support of special-use attributes on the non-extended LIST command" (the paragraph only talks about the non-extended LIST command).
Extended LIST command: "Supporting implementations MUST include the "SPECIAL-USE" capability string in response to an IMAP CAPABILITY command" (the paragraph only talks about the extended LIST command).


Presumably, your reading:

| LIST with special-use attributes | LIST-EXTENDED support | LIST-EXTENDED with SPECIAL-USE | Announce SPECIAL-USE capability |
| --- | --- | --- | --- |
| no | no | no | NO |
| no | yes | no | NO |
| yes | yes | yes | YES |
| no | yes | yes | YES |
| any | no | yes | - |
| yes | yes | no | YES |
| yes | no | no | YES |

Now, the presence of the SPECIAL-USE capability means "at least one of LIST or extended LIST support special-use attributes". This contradicts sections 2 paragraph one ("There is no capability string related to the support of special-use attributes on the non-extended LIST command"). Additionally it doesn't really tell whether the extended LIST command supports the selection/return options.


Alternatively,

| LIST with special-use attributes | LIST-EXTENDED support | LIST-EXTENDED with SPECIAL-USE | Announce SPECIAL-USE capability |
| --- | --- | --- | --- |
| no | no | no | NO |
| no | yes | no | NO |
| yes | yes | yes | YES |
| no | yes | yes | YES |
| any | no | yes | - |
| yes | yes | no | NO |
| yes | no | no | YES |

This is "non-extended LIST supports special-use attributes, unless the LIST-EXTENDED capability is announced, then you can't be sure about non-extended LIST responses". It would also mean servers that previously announced the SPECIAL-USE capability but not LIST-EXTENDED, had to drop the SPECIAL-USE capability when they added support for LIST-EXTENDED without the SPECIAL-USE selection/return options. 